<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.cotabank.Util"
    version="1.0.1">
    <name>CotabankUtilPlugin</name>
    <description>util</description>
    <license>cotabank</license>
    <keywords></keywords>
    <repo></repo>
    <issue></issue>
    <js-module src="www/util.js" name="util">
        <clobbers target="Util" />
    </js-module>
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AppVersionChecker" >
                <param name="android-package" value="com.cotabank.AppVersionChecker"/>
            </feature>
			<feature name="AccessToken" >
                <param name="android-package" value="com.cotabank.AccessToken"/>
            </feature>
        </config-file>
        <source-file src="src/android/com/cotabank/AppVersion.java" target-dir="src/com/cotabank/" />
		<source-file src="src/android/com/cotabank/AccessToken.java" target-dir="src/com/cotabank/" />
		<source-file src="src/android/com/cotabank/AppVersionChecker.java" target-dir="src/com/cotabank/" />
		<source-file src="src/android/com/cotabank/MainMessage.java" target-dir="src/com/cotabank/" />
		<source-file src="src/android/protobuf-java-2.5.0.jar" target-dir="libs/" />
		<source-file src="src/android/DataEnc.jar" target-dir="libs/" />
    </platform>
    
    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="AccessToken">
                <param name="ios-package" value="CDVGetDeviceId" />
            </feature>
            <feature name="AppVersionChecker">
                <param name="ios-package" value="CDVGetAppVersion" />
            </feature>
        </config-file>
        
        <header-file src="src/ios/CDVGetDeviceId.h" />
        <source-file src="src/ios/CDVGetDeviceId.m" />
        <header-file src="src/ios/CDVGetAppVersion.h" />
        <source-file src="src/ios/CDVGetAppVersion.m" />
        <header-file src="src/ios/libs/DataEnc.h" />
        <source-file src="src/ios/libs/libDataEnc.a" framework="true"/>
        <header-file src="src/ios/libs/GetAppVersion.h" />
        <source-file src="src/ios/libs/libGetAppVersion.a" framework="true" />
	<framework src="src/ios/libs/ProtocolBuffers.framework" custom="true" />
    </platform>
    
</plugin>
